html, body {
    margin: 0;
    padding: 10;
    font-size: 40px;
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
    /* background: darkslategrey; */
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(136, 199, 200), rgb(50, 52, 112)) repeat scroll 0% 0%;
    color: white;
}

h1 {
    margin: 10px 0 20px;
}

h2 {
    font-size: 24px;
    margin: 20px 0;
}

a {
    font-size: 22px;
}

.grid {
    width: 200px;
    height: 200px;
    border: solid 2px black;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background: rgb(155, 180, 206);
}

.square {
    width: 20px;
    height: 20px;
}

.snake {
    background-color: #94f75e;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 60 96'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2372b96b' fill-opacity='0.4'%3E%3Cpath d='M36 10a6 6 0 0 1 12 0v12a6 6 0 0 1-6 6 6 6 0 0 0-6 6 6 6 0 0 1-12 0 6 6 0 0 0-6-6 6 6 0 0 1-6-6V10a6 6 0 1 1 12 0 6 6 0 0 0 12 0zm24 78a6 6 0 0 1-6-6 6 6 0 0 0-6-6 6 6 0 0 1-6-6V58a6 6 0 1 1 12 0 6 6 0 0 0 6 6v24zM0 88V64a6 6 0 0 0 6-6 6 6 0 0 1 12 0v12a6 6 0 0 1-6 6 6 6 0 0 0-6 6 6 6 0 0 1-6 6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.apple {
    display: block;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
}

#start,
#restart,
.dropbtn {
    padding: 20px 40px;
    margin-left: 20px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
}

#start:hover, 
#start:focus, 
#restart:hover,
#start:focus {
    filter: brightness(80%);
}

#restart {
    display: none;
}

/* Dropdown Button */
.dropbtn {
    background-color:#10253d;
    color: white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    margin-left: 30px;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #1d3e64;} 